/* Estilos para el componente de mapa con Leaflet */

::ng-deep .leaflet-container {
  font-family: inherit;
  width: 100%;
  height: 100%;
  z-index: 0;
}

::ng-deep .leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

::ng-deep .leaflet-popup-content {
  margin: 0;
}

/* Asegurar que el contenedor del mapa tenga dimensiones correctas */
#mapContainer {
  width: 100% !important;
  height: 100% !important;
}

